body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: #dadada !important;
}

.navbar {
    background-color: #369;
}

fieldset {
	background-color: #f3f3f3;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	border-radius: 5px;
}
textarea {
    box-sizing: border-box;
    resize: none;
    margin-top: 5px;
}

#bib {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.navbar-nav {
	float: right;
}